{%include 'farmer_header.html'%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin_home">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

  <center>
    <section class="section dashboard">
      <!-- <h2>Welcome Admin</h2> -->

      {%if qa%}

<form action="" method="post" enctype="multipart/form-data">
    <table align="center">
        <tr>
            <th>Event_title : </th>
            <td><select name="name" id="" class="form-control">
                <option value="Crop Planting">Crop Planting</option>
                <option value="Irrigation">Irrigation</option>
                <option value="Crop Rotation ">Crop Rotation </option>
            </select></td>
        </tr>
        <tr>
            <th>Description : </th>
            <td><textarea name="desc" id="" cols="30" rows="10" required>{{ qa.Description }}</textarea></td>
        </tr>
        <tr>
            <th>Start_date : </th>
            <td><input type="date" name="sdate" id="" class="form form-control" value="{{ qa.Start_date }}"></td>
        </tr>
        <tr>
            <th>End_date : </th>
            <td><input type="date" name="edate" value="{{ qa.End_date }}" class="form form-control" required></td>
        </tr>
        <tr>
            <th>Priority  : </th>
            <td>
                <select name="priority" class="form form-control" required>
                    <option value="high" style="color: red;" {% if qa.Priority == 'red' %}selected{% endif %}>Red (High)</option>
                    <option value="medium" style="color: rgb(202, 132, 3);" {% if qa.Priority == 'orange' %}selected{% endif %}>orange (Medium)</option>
                    <option value="low" style="color: rgb(83, 82, 80);" {% if qa.Priority == 'grey' %}selected{% endif %}>Grey (Low)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="update" value="Update" class="btn btn-primary"></td>
        </tr>
    </table>
    
</form>


{%endif%}
<br>
<br>


<table align="center">
    <thead>
    <tr>
        <th>#</th>
        <th>Event_title</th>
        <th>Description</th>
        <th>Start_date</th>
        <th>End_date</th>
        <th>Priority</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
</thead>
    {% for row in q %}
    <tbody>
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{row.Event_title}}</td>
        <td>{{row.Description}}</td>
        <td>{{row.Start_date}}</td>
        <td>{{row.End_date}}</td>
        <td style="color: {% if row.Priority == 'high' %}red{% elif row.Priority == 'medium' %}orange{% elif row.Priority == 'low' %}grey{% endif %};">
            {{ row.Priority|title }}
        </td>
        <td><a href="/submit_event_update/{{row.id}}" class="btn btn-primary">Update</a></td>
        <td><a href="/event_delete/{{row.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
</tbody>

    {%endfor%}
</table>
    
  
          </div>
        </section>
      </center>

        <style>
            th, td {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
            .form-container {
                text-align: center;
            }
            
            table {
                border-collapse: collapse;
                width: 80%;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
            th, td {
                padding: 10px;
                text-align: left;
            }
            th {
                background: #36545d;
                color: #fff;
            }
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            tr:hover {
                background-color: #ddd;
            }
        </style>
    
      </main><!-- End #main -->




<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='name']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='hname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='street']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='city']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='state']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
    // Get the current value of the input field
    var inputValue = $(this).val();

    // Remove any non-numeric characters
    var numericValue = inputValue.replace(/[^0-9]/g, '');

    // Limit the numeric value to 10 characters
    var truncatedValue = numericValue.substring(0, 10);

    // Set the truncated value back to the input field
    $(this).val(truncatedValue);
});
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });



   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>


