{%include 'worker_header.html'%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin_home">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

  <center>
    <section class="section dashboard">
      <h2></h2>

      {%if qa%}

<form action="" method="post" enctype="multipart/form-data">
    <table align="center">
        <tr>
            <th>Name :</th>
            <td><input type="text" name="na" class="form-control" required  ></td>
        </tr>
        <tr>
            <th>Department :</th>
            <td><input type="text" name="de" class="form-control" readonly required  value="{{qa.department}}"></td>
        </tr>
        <tr>
            <th>Position :</th>
            <td><input type="text" name="dt" class="form-control" readonly required value="{{qa.position}}"></td>
        </tr> 

        <tr>
            <th>Contact:</th>
            <td><input type="text" name="st" class="form-control" readonly required value="{{qa.phone}}"></td>
        </tr>

        <tr>
            <th>Preffered Language:</th>
            <td>
                <select name="pl" id="" class="form-control">
                    <option value="malayalam">malayalam</option>
                    <option value="english">english</option>
                    <option value="hindi">hindi</option>
                </select>


            </td>
        </tr>
        <tr>
            <th>Educational background :</th>
            <td><input type="text" name="esb" class="form-control" required ></td>
        </tr>

        <tr>
            <th>Total Amount :</th>
            <td><input type="text" name="ta" class="form-control" readonly required value="{{reg_fees}}"></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary">
            </td>
        </tr>
    </table>
    
</form>



{%endif%}
<br>
<br>


  
          </div>
        </section>
      </center>

        <style>
            th, td {
                padding: 10px;
                border: 1px solid #ccc;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
            .form-container {
                text-align: center;
            }
            
            table {
                border-collapse: collapse;
                width: 80%;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
            th, td {
                padding: 10px;
                text-align: left;
            }
            th {
                background: #36545d;
                color: #fff;
            }
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            tr:hover {
                background-color: #ddd;
            }
        </style>
    
      </main><!-- End #main -->




<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='name']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='hname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='street']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='city']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='state']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
    // Get the current value of the input field
    var inputValue = $(this).val();

    // Remove any non-numeric characters
    var numericValue = inputValue.replace(/[^0-9]/g, '');

    // Limit the numeric value to 10 characters
    var truncatedValue = numericValue.substring(0, 10);

    // Set the truncated value back to the input field
    $(this).val(truncatedValue);
});
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });



   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>


